body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #2F3542;
}

.App {
  text-align: center;
  padding: 24px 0 0 0;
  min-height: 100vh;
}

h1 {
  color: #FF7B00;
  margin-bottom: 12px;
}

.scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.table {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: #E8EDF5;
  border-radius: 16px 16px 32px 32px;
  box-shadow: 0 8px 32px #bdbdbd44;
  padding: 32px 20px 24px 20px;
  margin-bottom: 16px;
}

.tank-area {
  margin-right: 34px;
  padding: 16px 16px 0 16px;
  background: #CDCAF7;
  border-radius: 16px;
  box-shadow: 0 2px 8px #b3e5fc44;
  transition: box-shadow 0.2s;
  position: relative;
}
.tank-area.over {
  box-shadow: 0 0 0 4px #4fc3f7aa, 0 2px 8px #b3e5fc44;
}

.tank-svg {
  display: block;
  margin: 0 auto;
  background: none;
  margin-bottom: 20px;
}

.water-label {
  margin-top: 2px;
  font-size: 1.1em;
  color: #1976d2;
  font-weight: 500;
}

.object-list {
  min-width: 80px;
  text-align: center;
}

.object-list h2 {
  margin: 0 0 5px 0;
  color: #FF7B00;
  font-size: 2em;
}

.objects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.object {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: #E8EDF5;
  border-radius: 20px;
  padding: 2px 10px;
  width: 100px;
  height: 100px;
  padding: 0;
  box-shadow: 0 2px 8px #bdbdbd22;
  font-size: 1em;
  font-weight: 500;
  user-select: none;
  transition: box-shadow 0.2s, opacity 0.2s;
  box-sizing: border-box;
}
.object:hover {
  box-shadow: 0 4px 16px #b3e5fc55;
}
.object.disabled {
  pointer-events: none;
  filter: grayscale(0.7);
}
.object-icon {
  font-size: 2em;
  margin: 0;
  transition: transform 0.2s;
}

.object-icon:hover {
  transform: scale(1.1);
}

.object-icon:active {
  transform: scale(0.95);
}

.object-icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  display: block;
}

.object-name {
  color: #EEEDFC;
  flex: none;
  text-align: center;
  font-size: 0.80em;
}
.object-volume {
  font-size: 0.95em;
  color: #555;
  margin-left: 8px;
}

.reset-btn {
  min-width: 160px; 
  height: 60px; 
  position: relative; 
  border-radius: 16px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  font-family: ProximaNova, Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #E8EDF5;
  z-index: 1;
  transition: all .3s ease;
}

.reset-btn::before {
  content: "";
  display: block;
  position: absolute;
  background: #E8EDF5;
  inset: 2px;
  border-radius: 14px;
  z-index: -2;
}

.reset-btn::after {
  content: "";
  display: block;
  position: absolute;
  background: #008545;
  inset: 8px;
  border-radius: 10px;
  z-index: -1;
  transition: all .3s ease;
}

.reset-btn:hover::after {
  background: rgb(0, 174, 90);
}

.simple-glow {
  background: conic-gradient(
    from var(--r),
    transparent 0%,
    rgb(0, 255, 132) 2%,
    rgb(0, 214, 111) 8%,
    rgb(0, 174, 90) 12%,
    rgb(0, 133, 69) 14%,
    transparent 15%
  );
  animation: rotating 3s linear infinite;
  transition: animation 0.3s ease;
}

.simple-glow:hover {
  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}

.instructions {
  margin: 0 auto;
  max-width: 420px;
  background: #E8EDF5;
  border-radius: 12px;
  box-shadow: 0 2px 8px #E8EDF5;
  padding: 18px 24px 10px 24px;
  color: #66B68F;
  font-size: 1.08em;
  align: center;
}
.instructions h3 {
  margin-top: 1px;
  color: #008545;
}
.instructions ol {
  margin: 0 0 0 10px;
  padding: 0;
} 


